body {
    background-color: rgb(210, 219, 224);
    font-family: sans-serif;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: min(250px, 80vw);
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 12px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 2px 0 rgb(224, 213, 213);
    height: fit-content;
    margin: auto;
}

.card * {
    margin: 0;
}

.card p:nth-of-type(1) {
    font-weight: bolder;
    font-size: 1.1rem;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    line-height: 1.5rem;
}

.card p:nth-of-type(2) {
    color: rgb(136, 136, 136);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
    font-size: 0.9rem;
}

img {
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
